<h1>Play at your own risk!</h1>
<form action="/play">
  <div class="form-group">
    <label for="play">Pick rock, paper, or scissors</label>
    <input id="play" name="play" class="form-control" type="text">
  </div>
<button type="submit" class="btn-danger">Send</button>
</form>
