<!DOCTYPE html>
<html>
  <head>
    <title>Lets Play Rock, Paper, Scissors!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class = "container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
